{% extends "student/base.html" %}

{% block title %}Evaluando "nombre tarea"{% endblock %}

{% block content %}
<div class="mb-3">
    <h3 class="fw-bold">Nombre de tarea</h3>
</div>
<hr>
<div class="mb-3">
    <p>Esto es la descripción de la tarea</p>
</div>
<hr>
<div class="mb-3">
    <p class="fw-bold d-inline ">Entrega: </p>
    <a href="https://www.google.com" class="d-inline">www.google.com</a>
</div>
<hr>
<form action="{{url_for('student.review_task_post',task_id=task_id)}}" method="POST">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Criterio</th>
                <th scope="col">Descripción</th>
                <th scope="col" style="width: 15%;">Puntaje</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Creatividad</th>
                <td>Se ve que tan creativo es el pibe</td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="creatividad_id" id="creatividad1" value="1"
                            required>
                        <label class="form-check-label" for="creatividad1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="creatividad_id" id="creatividad2" value="2">
                        <label class="form-check-label" for="creatividad2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="creatividad_id" id="creatividad3" value="3">
                        <label class="form-check-label" for="creatividad3">3</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Legibilidad</th>
                <td>Se ve que tan legible es el pibe</td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="legibilidad_id" id="legibilidad1" value="1"
                            required>
                        <label class="form-check-label" for="legibilidad1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="legibilidad_id" id="legibilidad2" value="2">
                        <label class="form-check-label" for="legibilidad2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="legibilidad_id" id="legibilidad3" value="3">
                        <label class="form-check-label" for="legibilidad3">3</label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Enviar Evaluación</button>
</form>


{% endblock %}