{% extends "student/base.html" %}

{% block title %}Evaluar tareas{% endblock %}

{% block content %}
<div class="mb-3">
    <h3 class="fw-bold">Tareas pendientes de revisión</h3>
</div>
<hr>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Curso</th>
            <th scope="col">Tarea</th>
            <!--
            <th scope="col">Estudiante</th>
            -->
            <th scope="col" style="width: 300px;">Fecha límite</th>
        </tr>
    </thead>
    <tbody>
        {% for review in reviews %}
        {% if review.is_pending %}
        <tr onclick="window.location='{{url_for('student.review_task', review_id=review.id)}}';"
            style="cursor: pointer;">
            <th scope="row">{{review.submission.task.course.name}}
            </th>
            <td>{{review.submission.task.name}}</td>
            <!--
            <td>{{review.submission.student.name}}</td>
        -->
            <td>{{review.deadline_date}}</td>
        </tr>
        {% endif %}
        {% endfor %}

    </tbody>
</table>
<!--
<div class="mb-3">
    <h3 class="fw-bold">Tareas revisadas</h3>
</div>
<hr>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Curso</th>
            <th scope="col">Tarea</th>
            <th scope="col">Estudiante</th>
        </tr>
    </thead>
    <tbody>
        {% for review in reviews %}
        {% if not review.is_pending %}
        <tr onclick="window.location='{{url_for('student.review_task', review_id=review.id)}}';"
            style="cursor: pointer;">
            <th scope="row">{{review.submission.task.course.name}}
            </th>
            <td>{{review.submission.task.name}}</td>
            <td>{{review.submission.student.name}}</td>
        </tr>
        {% endif %}
        {% endfor %}

    </tbody>
</table>
-->
{% endblock %}