{% extends "student/base.html" %}

{% block title %}poner aqui el nombre de la tarea{% endblock %}

{% block content %}

<h3 class="fw-bold">{{task['name']}}</h3>

<hr>

<div class="row">

    <div class="col-auto mr-5">
        <span class="fw-bold d-inline">Fecha de entrega: </span>
        <!--Ver como se llama esto en el diccionario-->
        <span class="d-inline">{{task['deadline']}}</span>
    </div>

    <div class="col-auto mr-5">
        <span class="fw-bold d-inline">Puntos:</span>
        <!--Ver como se llama esto en el diccionario-->
        <span class="d-inline">{{task['evaluation_points']}}/{{task['max_points']}}</span>
    </div>

    <div class="col-auto mr-5">
        <span class="fw-bold d-inline">Estado:</span>
        <span class="d-inline">{{task['state']}}</span>
    </div>

</div>

<hr>

<!--Ver como se llama esto en el diccionario-->
<p>{{task['description']}}</p>

<!--TODO: Aqui deberia ir un if dependiendo del estado de la tarea-->
{% if task['state'] == 'pendiente' %}
<form action="">
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave your homework here!" id="floatingTextarea"
            style="height: 200px; resize: none;"></textarea>
        <label for="floatingTextarea">Ingresa aquí el url de tu tarea.</label>
    </div>
    <div class="text-end my-3">
        <button type="submit" class="btn btn-primary btn-md">Enviar</button>
    </div>
</form>
{% endif %}



{% endblock %}