{% extends "student/base.html" %}

{% block title %}poner aqui el nombre de la tarea{% endblock %}

{% block content %}

<h3 class="fw-bold">{{task['name']}}</h3>

<hr>

<div class="row">

    <div class="col-auto mr-5">
        <span class="fw-bold d-inline">Fecha de entrega: </span>
        <!--Ver como se llama esto en el diccionario-->
        <span class="d-inline">{{task['deadline_date']}}</span>
    </div>

    <div class="col-auto mr-5">
        <span class="fw-bold d-inline">Puntos:</span>
        <!--Ver como se llama esto en el diccionario-->
        <span class="d-inline">placeholder</span>
    </div>

    <div class="col-auto mr-5">
        <span class="fw-bold d-inline">Estado:</span>
        <span class="d-inline">placeholder </span>
    </div>

</div>

<hr>

<!--Ver como se llama esto en el diccionario-->
<p>Descripción del tarea</p>

<!--TODO: Aqui deberia ir un if dependiendo del estado de la tarea-->
<form action="/student/t/{{task['id']}}" method="post">
    <div class="form-floating">

        <textarea class="form-control" name="submition" id="floatingTextarea" style="height: 200px; resize: none;"
            required></textarea>

        <label for="floatingTextarea">Ingresa aquí el url de tu tarea.</label>

    </div>
    <div class="text-end my-3">
        <button type="submit" class="btn btn-primary btn-md">Enviar</button>
    </div>
</form>


{% endblock %}