{% extends "base.html" %}


{% block title %}hola{% endblock %}

{% block navbar %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">

    <li class="nav-item">
        <a class="nav-link" href="/tutor/">Cursos</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">Evaluaciones</a>
    </li>

</ul>
{% block addbutton %}{% endblock %}
<a href="{{url_for('auth.logout')}}" class="btn btn-danger">Cerrar sesión</a>

{% endblock %}

{% block content %}

{% endblock %}

{% block scripts %}
{% endblock %}