{% extends "base.html" %}


{% block title %}hola{% endblock %}

{% block navbar %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">

    <li class="nav-item">
        <a class="nav-link" href="/tutor/">Cursos</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">Evaluaciones</a>
    </li>

</ul>
{% block addbutton %}{% endblock %}
<a href="/logout" class="btn btn-danger">Cerrar sesión</a>

{% endblock %}

{% block content %}

{% endblock %}

{% block scripts %}
<script>
    // obtener el botón por su id
    var boton = document.getelementbyid("logout");

    // agregar un evento de clic al botón
    boton.addeventlistener("click", function () {
        // redirigir a la url deseada
        window.location.href = "https://www.google.com";
    });
</script>
{% endblock %}