{% extends "tutor/base.html" %}


{% block title %}{{course.name}}{% endblock %}

{% block addbutton %}
<a href="{{url_for('tutor.editcourse', courseid = course.course_id)}}" class="btn btn-warning me-2">Editar curso</a>

<button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#createhomeworkModal">Crear
    Tarea</button>
{% endblock %}

{% block content %}

<!-- ventana emergente de crear curso (modal window)-->
<div class="modal fade" id="createhomeworkModal" tabindex="-1" aria-labelledby="createcourseModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createcourseModalLabel">Crear curso</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('tutor.course_post', courseid = course.course_id)}}" method="post">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="new_task_name" name="name" required>
                        <label for="new_task_name">Nombre de la tarea</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="new_task_date" name="date" required>
                        <label for="new_task_date">Fecha de entrega</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="new_task_deadline" name="deadline" required>
                        <label for="new_task_date">Fecha límite de revisión</label>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea class="form-control" name="instructions" id="new_task_instructions"
                            style="height: 150px" required></textarea>
                        <label for="new_task_instructions">Instrucciones</label>
                    </div>

                    <input type="hidden" name="form_type" value="create_task">
                    <button name="action" value="create" type="submit" class="btn btn-primary">Crear</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </form>
            </div>
        </div>
    </div>
</div>



<h1>Tareas</h1>
<div class="list-group">
    {%for task in tasks %}

    <!-- ruta = -->

    <a href="{{url_for('tutor.task', task_id = task.task_id, course_id = task.course_id)}}"
        class="list-group-item list-group-item-action">

        <div class="containerr">
            <div class="row align-items-start">
                <div class="col">
                    <span class="fw-bold">{{task.name}}</span>
                </div>
                <div class="col">
                </div>
                <div class="col text-end">
                    <span class="fw-bold">Fecha de entrega: </span>
                    <span>{{task.deadline_date}}</span>
                </div>
            </div>
        </div>
    </a>

    {% endfor %}
</div>
{% endblock %}