{% extends "tutor/base.html" %}


{% block title %}{{course.name}}{% endblock %}

{% block content %}
<form action="{{ url_for('tutor.editcourse_post', course_id=course.id) }}" method="post">

    <div class="mb-3 d-flex align-items-center"> <!-- Utilizamos d-flex para hacer los elementos en línea -->

        <label for="inputEditCourseName" class="form-label me-3 fw-bold">Nombre</label>
        <!-- Clase me-2 para agregar un pequeño margen a la derecha -->

        <input type="text" class="form-control me-2" id="inputEditCouseName" name="course_name"
            value="{{ course.name }}"> <!-- Clase me-2 para agregar un pequeño margen a la derecha -->

        <button type="submit" class="btn btn-primary">Modificar</button>
    </div>

    <input type="hidden" name="form_type" value="edit_course_name">
</form>

<hr>
<!-- ventana emergente de Añadir estudiante a curso (modal window)-->
<div class="modal fade" id="createhomeworkModal" tabindex="-1" aria-labelledby="createcourseModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createcourseModalLabel">Crear curso</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('tutor.editcourse_post', course_id = course.id)}}" method="post">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="student_email" name="email" required>
                        <label for="student_email">Correo del estudiante</label>
                    </div>

                    <input type="hidden" name="form_type" value="add_student">
                    <button name="action" value="create" type="submit" class="btn btn-primary">Agregar
                        Estudiante</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col" style="width: 100px;"></th>
        </tr>
    </thead>
    <tbody>
        {% for student in course.students %}
        <tr>
            <th scope="row" class="align-middle">{{student.id}}</th>
            <td class="align-middle">{{student.name}}</td>
            <td class="align-middle">{{student.email}}</td>
            <td class="align-middle">
                <form action="{{ url_for('tutor.editcourse_post', course_id=course.id) }}" method="post">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <input type="hidden" name="form_type" value="delete_student">
                    <!--Esto es para tener un metodo para eliminar un usuario de un curso por su email, igualmente
                    se podria hacer por id supongo-->
                    <input type="hidden" name="email" value="{{student.mail}}">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="text-center">
    <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal"
        data-bs-target="#createhomeworkModal">Agregar Estudiante</button>
</div>



{% endblock %}