{% extends "tutor/base.html" %}


{% block title %}{{course.name}}{% endblock %}

{% block content %}
Aquí se deberian poder editar los cursos:
- Cambiar nombre del curso
- Que se muestren los alumnos dentro del curso, al lado de cada usuario se deberian mostrar
un boton eliminar este permite eliminar al usuario (obvio)
- Agregar Usuarios esto puede ser una modal view en el que se tenga que añadir el correo del alumno, tendra que ser uno
porque sino se peta (quizas en futuro que sea correos separados por comas¿¿??)
<hr>

<form action="{{ url_for('tutor.editcourse_post', courseid=course.course_id) }}" method="post">

    <div class="mb-3 d-flex align-items-center"> <!-- Utilizamos d-flex para hacer los elementos en línea -->

        <label for="inputEditCourseName" class="form-label me-3 fw-bold">Nombre</label>
        <!-- Clase me-2 para agregar un pequeño margen a la derecha -->

        <input type="text" class="form-control me-2" id="inputEditCouseName" name="course_name"
            value="{{ course.name }}"> <!-- Clase me-2 para agregar un pequeño margen a la derecha -->

        <button type="submit" class="btn btn-primary">Modificar</button>
    </div>

    <input type="hidden" name="form_type" value="edit_course_name">
</form>

<hr>
<!-- ventana emergente de Añadir estudiante a curso (modal window)-->
<div class="modal fade" id="createhomeworkModal" tabindex="-1" aria-labelledby="createcourseModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createcourseModalLabel">Crear curso</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('tutor.editcourse_post', courseid = course.course_id)}}" method="post">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="student_email" name="email" required>
                        <label for="student_email">Correo del estudiante</label>
                    </div>

                    <input type="hidden" name="form_type" value="add_student">
                    <button name="action" value="create" type="submit" class="btn btn-primary">Agregar
                        Estudiante</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>STUDENT</td>
            <td>student1@mail.com</td>
            <td>
                <form action="{{ url_for('tutor.editcourse_post', courseid=course.course_id) }}" method="post">
                    <button type="submitt" class="btn btn-danger">Eliminar</button>
                    <input type="hidden" name="form_type" value="delete_student">
                    <input type="hidden" name="email" value="EMAIL DE USUARIO">
                </form>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal"
        data-bs-target="#createhomeworkModal">Agregar Estudiante</button>
</div>



{% endblock %}