{% extends "tutor/base.html" %}


{% block title %}Nombre de tarea{% endblock %}


{% block addbutton %}
<button type="button" class="btn btn-warning me-2">Editar tarea</button>
{% endblock %}


{% block content %}
<div>
    <h3 class="fw-bold">Nombre de la tarea</h3>
</div>

<hr>

<div class="row">
    <div class="col-auto mr-5">
        <span class="fw-bold d-inline">Fecha de entrega: </span>
        <span class="d-inline">Poner aqui la deadline de la tarea</span>
    </div>
</div>

<hr>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio velit aut, doloremque ipsa harum
    laboriosam ut
    ducimus aperiam labore veniam quos pariatur! Consequuntur impedit nesciunt asperiores, illum ut tempore
    doloremque.
</p>

<hr>
<div class="my-4">
    <div class="mb-3">
        <h3 class="fw-bold">Criterios</h3>
    </div>
    <hr>
    <ul class="list-group">
        <li class="list-group-item">Criterio 1: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,
            aliquid. </li>
        <li class="list-group-item">Criterio 2: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,
            aliquid. </li>
        <li class="list-group-item">Criterio 3: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,
            aliquid. </li>
        <li class="list-group-item">Criterio 4: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,
            aliquid. </li>
        <li class="list-group-item">Criterio 5: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,
            aliquid. </li>
        <li class="list-group-item">Criterio 6: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,
            aliquid. </li>
    </ul>
</div>

<hr>

<h3 class="fw-bold">Entregas</h3>

<hr>

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
        <div class="row">

            <div class="col-auto mr-5">
                <span class="fw-bold d-inline">Fecha de entrega: </span>
                <span class="d-inline">Poner aqui la deadline de la tarea</span>
            </div>

            <div class="col-auto mr-5">
                <span class="fw-bold d-inline">Puntos:</span>
                <span class="d-inline">poner aqui los puntos de la tarea */10</span>
            </div>

            <div class="col-auto mr-5">
                <span class="fw-bold d-inline">Estado:</span>
                <span class="d-inline">poner aqui es estado de la tarea</span>
            </div>

        </div>
    </a>


    <a href="#" class="list-group-item list-group-item-action">
        <div class="row">

            <div class="col-auto mr-5">
                <span class="fw-bold d-inline">Fecha de entrega: </span>
                <span class="d-inline">Poner aqui la deadline de la tarea</span>
            </div>

            <div class="col-auto mr-5">
                <span class="fw-bold d-inline">Puntos:</span>
                <span class="d-inline">poner aqui los puntos de la tarea */10</span>
            </div>

            <div class="col-auto mr-5">
                <span class="fw-bold d-inline">Estado:</span>
                <span class="d-inline">poner aqui es estado de la tarea</span>
            </div>

        </div>
    </a>


    <a href="#" class="list-group-item list-group-item-action">
        <div class="row">

            <div class="col-auto mr-5">
                <span class="fw-bold d-inline">Fecha de entrega: </span>
                <span class="d-inline">Poner aqui la deadline de la tarea</span>
            </div>

            <div class="col-auto mr-5">
                <span class="fw-bold d-inline">Puntos:</span>
                <span class="d-inline">poner aqui los puntos de la tarea */10</span>
            </div>

            <div class="col-auto mr-5">
                <span class="fw-bold d-inline">Estado:</span>
                <span class="d-inline">poner aqui es estado de la tarea</span>
            </div>

        </div>
    </a>
</div>

{% endblock %}