{% extends "tutor/base.html" %}


{% block title %}task.name{% endblock %}


{% block content %}
<h1>{{task.name}}</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">Puntaje obtenido</th>
            <th scope="col">Discrepancia</th>
            <th scope="col" style="width: 250px;"></th>
        </tr>
    </thead>
    <tbody>
        {% for submission in algo_submissions %}
        <tr>
            <td scope="row" class="align-middle">{{submission.student.name}}</th>
            <td class="align-middle">{{submission.student.email}}</td>
            <td class="align-middle">NONE</td>
            <td class="align-middle">{{algo_clevels[loop.index0]}}</td>
            <td class="align-middle">

                <form action="{{url_for('tutor.task_submissions_post', course_id = course_id
                                                                   , task_id = task_id
                                                                   , submission_id = 'submission.id')}}" method="post">

                    <button type="submit" name="accept" class="btn btn-success border">Aceptar revisión</button>
                    <a type="submit" href="{{url_for('tutor.submission',submission_id = submission.id)}}"
                        class="btn btn-primary border">Corregir</a>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{url_for('tutor.task', course_id = course_id, task_id = task_id)}}"
    class="btn btn-secondary border">Volver</a>
{% endblock %}