{% extends "tutor/base.html" %}


{% block title %}{{task['name']}}{% endblock %}


{% block addbutton %}
<button type="button" class="btn btn-warning me-2">Editar tarea</button>
{% endblock %}


{% block content %}
<div>
    <h3 class="fw-bold">{{task['name']}}</h3>
</div>

<hr>

<div class="row">
    <div class="col-auto mr-5">
        <span class="fw-bold d-inline">Fecha de entrega: </span>
        <span class="d-inline">{{task['deadline_date']}}</span>
    </div>
</div>

<hr>

<p>
    {{task['instructions']}}
</p>

<hr>
<div class="my-4">
    <div class="mb-3">
        <h3 class="fw-bold">Criterios</h3>
    </div>
    <hr>
    <ul class="list-group">
        {% for criterion in criteria %}
        <li class="list-group-item">
            {{criterion['name']}}
        </li>
        {% endfor %}
    </ul>
</div>

<hr>

<h3 class="fw-bold">Entregas</h3>

<hr>

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
        <div class="row">

            <div class="col mr-5">
                <span class="fw-bold d-inline">Arnold Schwarzenegger Espinoza</span>
            </div>

            <div class="col mr-5">

                <span class="fw-bold d-inline"> Puntos:</span>
                <span class="d-inline">poner aqui los puntos de la tarea */10</span>
            </div>

            <div class="col mr-5">
                <span class="fw-bold d-inline"> Estado:</span>
                <span class="d-inline">poner aqui es estado de la tarea</span>
            </div>

        </div>
    </a>

</div>

{% endblock %}